.board {
    border-radius: 5px 5px;
    width: 512px;
    height: 512px;
    margin: 32px 0px;
}

.board-row {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 64px;
    height: 64px;
    position: relative;
}

.square-light {
    background-color: #ebecd0;
}

.square-light-highlight {
    background-color: #f6f668;
}

.square-dark {
    background-color: #779556;
}

.square-dark-highlight {
    background-color: #bbca2b;
}

.square img {
    margin: 2px 0 0 2px;
}

.possible-move {
    background-color: rgba(0,0,0,.4);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
}