@namespace ChessWasm.Shared
@using ChessWasm.Models
@using ChessWasm.Services

<div class="board">
    @for(int x = 0; x < 8; x++)
    {
        <div class="board-row">
            @for(int y = 0; y < 8; y++)
            {
                int row = x, col = y;
                <div class="square @(GetClassForSquare(x, y))" @onclick="(() => SquareClicked(row, col))">
                    @if(squares != null && squares[x * 8 + y] != 0)
                    {
                        <img src="/assets/@(GetImageForPiece(squares[x * 8 + y])).png" />
                    }
                    @if(IsPossibleMove(x * 8 + y))
                    {
                        <div class="possible-move" />
                    }
                </div>
            }
        </div>
    }
</div>
@code {
    private Piece[] squares;
    private (int x, int y) highlightedPiece = (-1,-1);
    private Dictionary<int, IEnumerable<Move>> possibleMoves;

    public ChessBoard() 
    {
        GameService.BoardChanged += UpdateBoard;
    }

    private void UpdateBoard(Board board)
    {
        squares = board.Squares;
        highlightedPiece = (-1, -1);
        possibleMoves = GameService.GetAllPossibleMoves();
        this.StateHasChanged();
    }

    private string GetClassForSquare(int x, int y) 
    {
        string colorClass =  
            x % 2 == 0 
                ? (y % 2 == 0 ? "square-dark" : "square-light")
                : (y % 2 == 0 ? "square-light" : "square-dark");

        return colorClass + (highlightedPiece.x == x && highlightedPiece.y == y ? "-highlight" : "");
    }

    private bool IsPossibleMove(int position) 
    {
        if(possibleMoves == null || highlightedPiece.x == -1 || highlightedPiece.y == -1) 
        {
            return false;
        }

        int highlightedPosition = highlightedPiece.x * 8 + highlightedPiece.y;
        return possibleMoves.ContainsKey(highlightedPosition) && possibleMoves[highlightedPosition].Any(move => move.To == position);
    }

    private string GetImageForPiece(Piece piece) 
    {
        string color = piece.HasFlag(Piece.White) ? "white" : "black";
        return $"{(piece & ~Piece.White & ~Piece.Black).ToString()}_{color}";
    }

    private void SquareClicked(int newX, int newY) 
    {
        int oldX = highlightedPiece.x;
        int oldY = highlightedPiece.y;

        if (oldX == -1 || oldY == -1)
        {
            highlightedPiece = (newX, newY);
        }
        else if (oldX == newX && oldY == newY) 
        {
            highlightedPiece = (-1, -1);
        }
        else if (squares[oldX * 8 + oldY] != 0)
        {
            GameService.TryMakeMove(oldX, oldY, newX, newY);
            highlightedPiece = (-1, -1);
        } 
        else
        {
            highlightedPiece = (newX, newY);
        }
    }
}
